@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    background-image: url("background.jpg");
    background-size: cover;
    font-family: poppins;
    color: white;
}

.presentation {
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

h1 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.description {
    margin-top: 0;
    margin-bottom: 25px;
    font-style: italic; 
    /* text-shadow: 10px; */
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px auto 40px;
    width: 50%;
    border-radius: 10px;
    font-size: 18px;
    padding: 25px;
}

@media screen and (max-width: 600px) {
    .container {
      width: 80%;
    }
  }

.personal-info {
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 8px 10px;
    box-sizing: border-box;
}

.radio-label, .checkbox-label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 8px;
}

.radio-input, .checkbox-input {
    margin-bottom: 20px;
    transform: scale(1.5) translateY(0.22em);
}

.input-text {
    width: 100%;
    height: 80px;
    resize: vertical;
    border-radius: 4px;
    font-size: 16px;
    padding: 0.625rem;
    box-sizing: border-box;
}

.button-div {
    text-align: center;
}

.submit-button {
    color: white;
    font-size: calc(100% + 1vw);
    background-color: rgb(0,0,0);
    border: rgb(0,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 50%;
    height:75px;
}

@media screen and (max-width: 600px) {
    .submit-button {
      width: 100%;
    }
  }

.submit-button:hover {
    border-style: solid;
    border-width: 1px; 
    background-color: #303030;
    border-color: white; 
    color: white;
  }

  .submit-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }