@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,200&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}   

#title {
    font-size: 4rem;
}

#description {
    font-size: 1.5rem;
}

.container {
    background-color: #F9E7D2;
    text-align: center;
    border-radius: 10px;
    margin: 40px 5px;
    padding-top: 40px;
    padding-bottom:20px;
}


#img-div {
    display: flex;
    background-color: black;
    border-radius: 10px;
    margin: 20px 10px;
    height: auto;
    max-height: 750px;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
}

#image {
    max-width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
    object-position: left;
}

#img-caption {
    font-size: 1.5rem;
    margin-top: 0;
    width: 100%;
    color:white;
}

#tribute-info {
    font-size: 2rem;
    width: 60%;
    text-align: center;
    margin: 40px auto;
}

#tribute-link, p {
    font-size: 3rem;
    text-decoration: none;
}

a:visited {
    color: #0036B5;
}