html, body {
    font-family: sans-serif, arial;
    background-color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    color: #4d4e53;
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 290px;
    height: 100%;
    border-right: 5px solid gray;
}

header {
    color: black;
    font-size: 1.8em;
    margin: 20px;
    text-align: center;
}

#navbar ul {
    height: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid black;
    list-style: none;
    width: 100%;
    position: relative;
}   

#navbar a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: inherit;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
}

section article {
    margin: 15px;
    font-size: 0.95em;
    text-align: justify;
}

.main-section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    position: relative;
    white-space: pre-line;
    background-color: #f7f7f7;
    font-size: 0.80em;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #navbar {
        position: absolute;
        width: 100%;
        height: 200px;
    }
    #navbar ul {
        border-top: 1px solid black;
        border-bottom: 2px solid black;
    }
    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 275px;
    }
}